@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.wrapper {
  width: 33.33%;
  mask-repeat: no-repeat;
  overflow: hidden; /* Add this line to hide any overflow from the image */
}

.wrapper img {
  padding: 20%;
  rotate: 5deg;
  width: 100%; /* Change the width to 100% to scale the image to fit the container */
  height: auto; /* Add this line to maintain the image's aspect ratio */
  object-fit: cover; /* Change object-fit to 'cover' to fill the container while preserving the aspect ratio */
}
.mask {
  mask-image: url('/assets/blob.svg');
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: 0px;
}

/* Header animation */
.animate-header {
  animation-name: headerAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes headerAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Individual link animation */
.animate-link {
  animation-name: linkAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes linkAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
